[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-hitcount = "*"
djangorestframework = "*"
python-decouple = "*"
psycopg2 = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
phonenumbers = "*"
django = "==4.0"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.11"
